.idea/
cmake-build-debug/
cmake-build-debug-mingw/
cmake-build-default/
cmake-build-release/
cmake-build-release-mingw/
images/
model/
model_128/
model_512/
result.jpg
Kong_Weiye.jpg
Kong_Weiye1.jpg
model_128.zip
model_512.zip
emb_csv/*.csv
emb_img/*.jpg

kkk.jpg
result0.jpg
result1.jpg

model_128_old/
